* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#meuElemento {
  width: 200px;
  height: 200px;
  background-color: #287dff;
  margin: 20px;
}
.square {
  border-radius: 0%;
}
.circle {
  border-radius: 100%;
}
button {
  margin: 20px;
  padding: 5px;
}
